body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
.colour{
    color: orange;
    
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
    padding-top: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(211, 143, 17), rgb(207, 22, 22));
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    font-weight: 800;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}